<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link href="style.css" type="text/css" rel="stylesheet">
        <link href="404style.css" type="text/css" rel="stylesheet">
        <link href="jquery-ui.css" rel="stylesheet">
        <link href="jquery-ui.theme.css" rel="stylesheet">
        <link href="jquery-ui.structure.css" rel="stylesheet">
    </head>


    <body>

        {{{body}}}

        <!--Quick contact info for me-->
        <div id="address">
            
            <address>
                <p>Website created by Zach Breene. <br/> Contact the author at <a href="mailto:zachary_breene@uri.edu">zachary_breene@uri.edu</a> for further inquiries.</p>
            </address>
        
        </div>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="jquery-ui.js"></script>
        <script src="jqueryfeatures.js"></script>
        <script src="slideshow.js"></script>
        <script src="timedgreeting.js"></script>
        <script src="getsetcss.js"></script>
        <script src="navhover.js"></script>
        <script src="goalsscript.js"></script>
        <script src="katelyn-xml.js"></script>
        <script src="joey-json.js"></script>
        <script src="start-jq.js"></script>
        <script src="updateinstrument.js"></script>
        <script src="gigs-html.js"></script>
    </body>
</html>