      <div id="container">

          <div id="top404"></div>

          <div id="mid404">

              <div id="xxx"><img src="x.png" alt="" /></div>

              <div id="content">
                  
                  <div id="errorcode">ERROR 404 - PAGE NOT FOUND</div>

                  <br><br>
                  <nav>
                    <a href="index">Home</a>
                    <a href="about">About</a>
                    <a href="experience">Experience</a></li>
                    <a href="contact">Contact Us</a></li>
                  </nav>

              </div>

          <div style="clear:left;"></div>

          </div>

          <div id="bottom404"></div>

      </div>